body {
	font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
	background-color: #f3f3f3;
	color: #333;
	font-size: 16px;
	margin: 0;
}
/* HERO */
.hero {
	height: 100vh;
	color: #fff;
	background: black;
	background: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.6)),
		url('./images/Netflix_Hero.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
.hero .hero__wrap {
	margin: 25px 55px;
}
.hero .hero__wrap nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hero .hero__wrap nav svg {
	width: 6.75rem;
	height: 2rem;
}
.hero .hero__wrap nav ul {
	list-style: none;
}
.hero .hero__wrap nav ul li button {
	border: none;
	outline: none;
	width: 80px;
	border-radius: 3px;
	padding: 8px;
	color: #fff;
	background: #e50914;
}
