body {
	font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
	background-color: #f3f3f3;
	color: #333;
	font-size: 16px;
	margin: 0;
}
h1 {
	font-weight: 500;
	font-size: 3.125rem;
	margin: 0;
}
h2 {
	font-weight: 400;
    font-size: 1.625rem;
    margin-top: 0.5em;
    margin-bottom: 1.2em;
}
h3 {
	font-size: 1.2rem;
	font-weight: 400;
}

/* HERO */
.hero {
	height: 100vh;
	color: #fff;
	background: black;
	background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.6)),
		url('./images/Netflix_Hero.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
.hero .hero__wrap {
	height: 100%;
}
.hero .hero__wrap nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 55px;
}
.hero .hero__wrap nav svg {
	width: 8.375rem;
	height: 2.25rem;
}
.hero .hero__wrap nav ul {
	list-style: none;
}
.hero .hero__wrap nav ul li button {
	border: none;
	outline: none;
	width: 80px;
	border-radius: 3px;
	padding: 8px;
	color: #fff;
	background: #e50914;
}
.hero .hero__wrap .hero__content {
	padding: 120px 45px;
	text-align: center;
}
.hero .hero__wrap .hero__content--form form {
	width: 100%;
}
.hero .hero__wrap .hero__content--form form input {
	font-size: 1.2rem;
	padding: 0.8em 1em;
}
.hero .hero__wrap .hero__content--form form input[type='text'] {
    width: 40%;
    border: none;
}
.hero .hero__wrap .hero__content--form form input[type='submit'] {
	width: 20%;
	cursor: pointer;
	background-color: #e50914;
	color: #fff;
	border: none;
    outline: none;
    letter-spacing: 0.1em;
}
